<div class="randomContainer">
  <img src = {{responseFromAPI.image_url}}>
<div class = "randomCard">
  <h2>{{responseFromAPI.name}}</h2>
  <h3>{{responseFromAPI.tagline}}</h3>
  <p>{{responseFromAPI.description}}</p>
  <p><strong>Brewers tips: </strong>{{responseFromAPI.brewers_tips}}</p>
</div>
</div>

